n8n_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8abfd441-8310-4e45-8406-5c67943472cc",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "command": "python3 /app/convert_pdf.py\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "7cda0298-daf7-45ce-91a2-7a70c2cd12de",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0c8b1144-ebd5-4d98-b892-a33f486d38d6",
              "name": "pages",
              "value": "={{$json[\"stdout\"] ? JSON.parse($json[\"stdout\"]).pages : []}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        0
      ],
      "id": "f7c9c93b-947f-4a9d-b731-c6cb86c71d64",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/pdf-images",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "pages",
              "value": "={{$json[\"pages\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "id": "78a1f2d9-4365-4c04-9df6-1a22fbcfc9f2",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8bd65c30-6649-4d72-abbb-e41c7a9f357e",
  "meta": {
    "instanceId": "e8694d8b327371575d834171dec9567d6823e7b1167e2f5ca4fc0c088e196a46"
  },
  "id": "nYudB6ZkffpM1lb6",
  "tags": []
}